    .Account {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.Account-box {
    position: relative;
    top: 10px;
    width: 1100px;
    background-color: #F0F8F6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    grid-template-rows: auto;
}

.left {
    display: grid;
    background-color: #FEE2E2;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
}
.left-bottom{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.img-box-2 {
    position: relative;
    width: 270px;
    position: relative;
}

.heart {
    height: 130px;
}

h2 {
    color: var(--bg-green);
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.right {
    display: grid;
    grid-template-rows: 60px auto 35px;
    margin: 20px 20px 10px 20px;
    row-gap: 10px;
    align-items: center;
   
}
.banner{
    display: flex;
    justify-content: center;
}

.sub-right {
 
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    align-items: center;
}

.slide-box {
    background-color: white;
    border-radius: 20px;
    height: 40px;
}
.slide-box button {
    width: 50%;
    height: inherit;
    color: var(--bg-green);
    background-color: white;
   
   border: none;
    border-radius: inherit;
}

#user-btn{
    background-color: var(--bg-green);
    color: white;
}
.signupwith {

    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signup-label {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-green);
}
.signupwith-btn-box{
    height: 100px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.signupwith-btn-box button{
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
}
.SignUp-link {
    font-family: serif;
    color: var(--bg-green);
    display: flex;
    font-family: sans-serif;
    color: var(--bg-green);
    justify-content: center;
}

i {
    color: var(--bg-green);
    font-size: 20px;
    margin-right: 12px;
}
.tNc{
    font-family: sans-serif;
    color: var(--bg-green);
    font-size: 0.75rem;
}

/* form component */
.sub-right-form{
    display: grid;
    grid-template-rows:  1fr 50px;
    align-items: center;   
    margin: 5px 42px;
    
}
.submit-btn{
    display: flex;
    justify-content: center;
}

.submit-btn button{
    border: none;
    background-color: var(--bg-green);
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 20px;
}

/* OTP form */
.sub-right-OTP{
    color: var(--bg-green);
    height: 400px;
    display: grid;
    grid-template-rows:40px 1fr 50px ;
    margin: 5px 42px;
    align-items: center;
}