:root {
  --primary-color: rgb(53, 113, 98);
  --secondary-color: rgb(255, 255, 255);
  --font-weight: 500;

}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  height: 100%;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #F0F8F6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

span {
  color: #ff9a82;
}

.user-provider-btn {
  display: flex;
  background-color: white;
  margin: 0 20px;
  border-radius: 50px;
}

.user-provider-btn button {
  transition: all .2s linear;
}

.user-provider-btn .active {
  background-color: var(--primary-color);
  color: white;
}

.user-btn {

  font-size: 1rem;
  font-weight: var(--font-weight);
  flex-grow: 1;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 50px;
  background: none;
  color: var(--primary-color);
}

.provider-btn {

  flex-grow: 1;
  font-weight: var(--font-weight);
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  background: none;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
  font: 300;
}

h3 {
  color: var(--primary-color);
  font-weight: 100;
}

.btn-div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 30px;
}


.contact-btn {
  display: block;
  background-color: var(--secondary-color);
  padding: 12px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: none;
  text-decoration: none;
}

.para-link {
  text-decoration: underline;
  color: var(--primary-color);
}

.para-link a {
  color: var(--primary-color);
}

/* @media (max-width:640px) {
  .left-container {
    display: none;
  }
} */